@model MassScheduler.Models.Meeting

@{
    ViewBag.Title = "Create an Event";
}

<heading>
    <h2>@ViewBag.Title</h2>
</heading>
<section>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Event Details</legend>
            @Html.Partial("_MeetingFields")
            <p>
                <input type="submit" value="Create Event" class="button minimal" />
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Back to Event List", "index")
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/scripts/jqueryval")
    @Scripts.Render("~/scripts/jqueryui")
    <script>
        $('.datepicker').datetimepicker({
            timeFormat: "hh:mm tt",
            minDateTime: new Date()
        });
    </script>
}

@section headinc
{
    @Styles.Render("~/Content/themes/base/css")
}
