@using MassScheduler.Models
@model Meeting

@{
    ViewBag.Title = "Details";
    var user = ViewBag.CurrentUser as UserInformation;
}

<heading>
    <h1>@Model.Title</h1>
    <h2>Presented by <em>@Model.Speaker</em></h2>
</heading>
<div class="schedule">
    <section class="event @(Model.IsUserAttending(user.Username) ? "attending" : "" )" id="event-@Model.Id" data-attending="@(Model.IsUserAttending(user.Username) ? "1" : "0" )">
        <div class="meeting-meta">
            @Model.StartDate.ToLongDateString()
            <dl>
                <dt>When:</dt> 
                <dd>@Model.StartDate.ToShortTimeString() - @Model.EndDate.ToShortTimeString()</dd>
                <dt>Where:</dt> 
                <dd>@Model.Location</dd>
            </dl>
        
        </div>
    
        <ul class='action-bar'>
            @if (user.Username == Model.Creator)
            {
                <li>@Html.ActionLink("Edit this Event", "edit", new { id = Model.Id })</li>
                <li>@Html.ActionLink("Delete Event", "delete", new { id = Model.Id })</li>
            }
            <li>@Html.ActionLink("RSVP!", "register", "rsvp", new { id = Model.Id }, new { @class = "rsvp-button button", title = "RSVP to this Event" })</li>
            <li>@Html.ActionLink("Cancel my RSVP", "cancel", "rsvp", new { id = Model.Id }, new { @class = "cancel-rsvp-button button", title = "Cancel my RSVP" })</li>
            <li>@Html.ActionLink("Add to my Calendar", "ical", "services", new { id = Model.Id }, new { @class = "download-button button", title = "Add to Calendar" })</li>
        </ul>

        <p>@Model.Descritpion</p>
    
        <h3>Who's Attending:</h3>
        <ul>
            @foreach (var r in Model.RSVP)
            {
                <li>@r.AttendeeName</li>
            }
        </ul>
    </section>
</div>

@section scripts
{
    @Scripts.Render("~/scripts/site")
}