@using MassScheduler.Models
@model Meeting

@{
    ViewBag.Title = "Details";
    var user = ViewBag.CurrentUser as UserInformation;
}

<heading>
    <h2>@Model.Title</h2>
    <h3>Sponsored by <em>@Model.Sponsor</em></h3>
</heading>
<div class="schedule">
    <section class="event @(Model.IsUserAttending(user.Username) ? "attending" : "" )" id="event-@Model.Id" data-attending="@(Model.IsUserAttending(user.Username) ? "1" : "0" )">
        <header class="meeting-meta">
            @Model.StartDate.ToLongDateString()
            <dl>
                @if (Model.Speakers.Any())
                {
                    <dt>Speaker(s):</dt>
                    <dd>
                        @Html.DisplayFor(s => Model.Speakers, "MeetingSpeakers")
                    </dd>
                }
                <dt>When:</dt> 
                <dd>@Model.StartDate.ToShortTimeString() - @Model.EndDate.ToShortTimeString()</dd>
                <dt>Where:</dt> 
                <dd>@Model.Location</dd>
            </dl>
        </header>
    
        @if (!Model.IsOver()) 
        {
            <ul class='action-bar'>
                @if (user.Username == Model.Creator)
                {
                    <li>@Html.ActionLink("Edit this Event", "edit", new { id = Model.Id })</li>
                    <li>@Html.ActionLink("Delete Event", "delete", new { id = Model.Id })</li>
                }
                <li>@Html.ActionLink("RSVP to this Event", "register", "rsvp", new { id = Model.Id }, new { @class = "rsvp-button button positive", title = "RSVP to this Event" })</li>
                <li>@Html.ActionLink("Cancel my RSVP", "cancel", "rsvp", new { id = Model.Id }, new { @class = "cancel-rsvp-button button destructive", title = "Cancel my RSVP" })</li>
                <li>@Html.ActionLink("Add to my Calendar", "ical", "services", new { id = Model.Id }, new { @class = "download-button button", title = "Add to Calendar" })</li>
            </ul>
        }
        
        <article>
            @Html.Markdown(Model.Descritpion)
        </article>

        <h4>Attendees (@Model.RSVP.Count):</h4>
        <ul>
            @if (Model.RSVP.Any())
            {
                foreach (var r in Model.RSVP)
                {
                    <li data-aid="@r.Id">@r.AttendeeName</li>
                }
            }
            else
            {
                <li>There are no RSVPs yet.  You can be the first.</li>
            }
        </ul>
    </section>
</div>

@section scripts
{
    @Scripts.Render("~/scripts/site")
}