@model MassScheduler.Models.Meeting

@{
    ViewBag.Title = "Edit Event: " + @Model.Title;
}

<heading>
    <h2>@ViewBag.Title</h2>
</heading>
<section>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Event Details</legend>

            @Html.HiddenFor(model => model.Id)

            @Html.Partial("_MeetingFields")

            <p class="form-controls">
                <input type="submit" value="Save" class="button minimal" />
            </p>
        </fieldset>
    }
</section>
@section Scripts {
    @Scripts.Render("~/scripts/jqueryval")
    @Scripts.Render("~/scripts/jqueryui")
    <script>
        $('.datepicker').datetimepicker({
            timeFormat: "hh:mm tt",
            minDateTime: new Date()
        });
    </script>
}

@section headinc
{
    @Styles.Render("~/Content/themes/base/css")
}
