@model MassScheduler.Models.Meeting

@{
    ViewBag.Title = "Edit Event: " + @Model.Title;
}

<heading>
    <h2>@ViewBag.Title</h2>
</heading>
<section>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Event Details</legend>

            @Html.HiddenFor(model => model.Id)

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Descritpion)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Descritpion)
                @Html.ValidationMessageFor(model => model.Descritpion)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.StartDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EndDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Speaker)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Speaker)
                @Html.ValidationMessageFor(model => model.Speaker)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Location)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Contact)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Contact)
                @Html.ValidationMessageFor(model => model.Contact)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to Event List", "index")
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/scripts/jqueryval")
    @Scripts.Render("~/scripts/jqueryui")
    <script>
        $('.datepicker').datetimepicker({
            timeFormat: "hh:mm:ss tt"
        });
    </script>
}

@section headinc
{
    @Styles.Render("~/Content/themes/base/css")
}
