@using MassScheduler.Models
@model IEnumerable<Meeting>

@{
    ViewBag.Title = "Schedule of Events";
    var user = ViewBag.CurrentUser as UserInformation;
}

<div class="page">
    <span class="heading">
        @Html.ActionLink("Events", "index", "meetings")
    </span>
    <section class="events schedule">
        <header>
            <nav class="page-actions">
                <ul class="action-bar">
                    <li>@Html.RouteLink("Download Calendar", "iCalFeed")</li>
                    @if (User.IsInRole(@"hks-a\GreenweekAdmin"))
                    {
                        <li>@Html.ActionLink("Create New", "create")</li>
                    }
                </ul>
            </nav>
            <h1>@ViewBag.Title</h1>
        </header>
        @{
            if (Model.Any())
            {
                var dayNo = -1;
                foreach (var item in Model)
                {
                    if (dayNo != item.StartDate.DayOfYear)
                    {
                        dayNo = item.StartDate.DayOfYear;
                        <div class="group-date">
                            @item.StartDate.ToLongDateString()
                        </div>
                    }
                    <div id="event-@item.Id" class="event @(item.IsUserAttending(user.Username) ? "attending" : "")" data-attending="@(item.IsUserAttending(user.Username) ? "1" : "0")" data-eventid="@item.Id">
                        <div class="event-bar interactive">
                            <div class="col1">
                                @item.LocalStartDate.ToShortTimeString() - @item.LocalEndDate.ToShortTimeString()
                            </div>
                            <div class="col2">
                                <div class="title-link">
                                    <i class="icon-attending icon"></i>
                                    @Html.ActionLink(item.Title, "details", new {id = item.Id}, new {@class = "title-link"})
                                </div>
                            </div>
                            <div class="col3">
                                @Html.DisplayFor(modelItem => item.Location)
                            </div>
                        </div>
                        <div class="event-bar event-preview hidden" id="e_@item.Id">
                            <p>
                                @Html.Markdown(item.Descritpion)
                            </p>
                            <ul class='action-bar'>
                                <li>@Html.ActionLink("View more details", "details", new {id = item.Id})</li>
                                @if (!item.HasEnded())
                                {
                                    <li>@Html.ActionLink("RSVP to Event", "register", "rsvp", new {id = item.Id}, new {@class = "rsvp-button button positive", title = "RSVP to this Event"})</li>
                                    <li>@Html.ActionLink("Cancel my RSVP", "cancel", "rsvp", new {id = item.Id}, new {@class = "cancel-rsvp-button button destructive", title = "Cancel my RSVP"})</li>
                                    <li>@Html.ActionLink("Add to my Calendar", "ical", "services", new {id = item.Id}, new {@class = "download-button button", title = "Add to Calendar"})</li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>There are currently no upcoming events scheduled.</p>
            }
        }
    </section>
</div>
@section scripts
{
    @Scripts.Render("~/scripts/site")
}