@model MassScheduler.Models.Speaker

@{
    ViewBag.Title = Model.Name;
}

<header>
    <h2>@ViewBag.Title</h2>
</header>
<section class="split-view speaker bio">
    <aside class="split-left">
        <div class="profile-image">
            @Html.UploadedImage(Model.Photo)
        </div>
        <ul class="list-plain profile-meta">
            <li><strong>@Model.Title</strong></li>
            <li>@Model.Organization</li>
            <li>@Html.MailTo(Model.Email, Model.Email)</li>
        </ul>
    </aside>
    <article class="split-right">
        @Html.Markdown(Model.Bio)
    </article>
</section>