@model MassScheduler.Models.Speaker

@{
    ViewBag.Title = Model.Name;
}


<header>
    
</header>
<section class="group">
    <article class="speaker details focus">
        <div class="page">
            <span class="heading">
                @Html.ActionLink("Speakers", "index", "speakers")
            </span>
            <header>
                @if (User.IsInRole(@"hks-a\GreenweekAdmin"))
                {
                    <nav class="page-actions">
                        <ul class='action-bar'>
                            <li>@Html.ActionLink("Edit", "edit", "speakers", new { id = Model.Id }, null)</li>
                            <li>@Html.ActionLink("Delete", "delete", "speakers", new { id = Model.Id }, null)</li>
                        </ul>
                    </nav>
                }
                <h1>@Model.Name</h1>
            </header>

            <aside class="group">
                <section class="bio-image secondary">
                    @Html.UploadedImage(Model.Photo)
                </section>
                <section class="focus">
                    <div class="bio-info">
                        @if (!String.IsNullOrEmpty(Model.Email))
                        {
                            @Html.MailTo(Model.Email, Model.Email)<br/>
                        }

                        @if (!String.IsNullOrEmpty(Model.Title))
                        {
                            @Model.Title<br/>
                        }

                        @if (!String.IsNullOrEmpty(Model.Organization))
                        {
                            @Model.Organization
                        }
                    </div>
                </section>
            </aside>
            <article>
                @Html.Markdown(Model.Bio)
            </article>

            <h2 class="underlined">Speaking at:</h2>
            <ul class="list-plain">
                @foreach (var m in Model.Meetings)
                {
                    <li>@Html.ActionLink(m.Title, "details", "meetings", new { id = m.Id }, null)</li>
                }
            </ul>
        </div>
    </article>
    <aside class="secondary">
        @Html.Action("SpeakerList", new { id = Model.Id })
    </aside>
</section>