@model IEnumerable<MassScheduler.Models.Speaker>

@{
    ViewBag.Title = "Speakers";
}

<div class="page">
    <header>
        <span class="heading">
            @Html.ActionLink("Speakers", "index", "speakers")
        </span>
        @if (User.IsInRole(@"hks-a\GreenweekAdmin"))
        {
            <nav>
                <ul class='action-bar'>
                    <li>@Html.ActionLink("New Speaker", "create", "speakers")</li>
                </ul>
            </nav>
        }
    </header>
    <section class="speakers panels">
        @foreach (var item in Model)
        {
            <div class="item speaker">
                <a href="@Url.Action("details", "speakers", new { id = item.Id })">
                    @Html.UploadedImage(item.Photo)
                    <h2>@item.Name</h2>
                </a>
            </div>
        }
    </section>
</div>