@model IEnumerable<MassScheduler.Models.Speaker>

@{
    ViewBag.Title = "Our Speakers";
}

<div class="page">
    <span class="heading">
        @Html.ActionLink("Speakers", "index", "speakers")
    </span>
    <section class="speakers panels">
        <header>
            @if (User.IsInRole(@"hks-a\GreenweekAdmin"))
            {
                <nav class="page-actions">
                    <ul class='action-bar'>
                        <li>@Html.ActionLink("New Speaker", "create", "speakers")</li>
                    </ul>
                </nav>
            }
            <h1>@ViewBag.Title</h1>
        </header>
        @foreach (var item in Model)
        {
            <div class="item speaker">
                <a href="@Url.Action("details", "speakers", new { id = item.Id })">
                    @Html.UploadedImage(item.Photo)
                    <h2>@item.Name</h2>
                </a>
            </div>
        }
    </section>
</div>