<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HKS Greenweek 2013 @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        @Styles.Render("~/css")
        @Scripts.Render("~/scripts/modernizr")
        @RenderSection("headinc", required: false)
    </head>
    <body>
        <div class="wrapper">
            <header id="page-hdr" role="banner">
                <h1 id="logo">
                    <a href="@Url.RouteUrl("Default")">
                        <img src="@Url.Content("~/public/img/hks-greenweek-logo.png")" alt="HKS Greenweek 2013" />
                    </a>
                </h1>
                <nav>
                    <ul id="menu" role="navigation">
                        <li>@Html.ActionLink("Schedule", "index", "Meetings")</li>
                        <li>@Html.ActionLink("Speakers", "index", "Speakers")</li>
                    </ul>
                </nav>
            </header>
            <section class="content" role="main">
                @RenderBody()
            </section>
            <footer>
            </footer>
        </div>
        @Scripts.Render("~/scripts/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
